@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

* {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  margin: 0 20%;
}

h3 {
  font-size: 1.1rem;
  line-height: 2.5rem;
  margin: 2rem 0;
  color: rgb(59, 59, 59);
}

.home-title {
  font-size: 2rem;
  padding-top: 2rem;
  max-width: 90%;
  margin: auto;
  color: rgb(34, 34, 34);

}
